<section class="hero has-text-centered has-text-white has-background-grey-darker" id="edu">
    <br><br>
    <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-white">Education</h1>
    <hr class="has-background-white proj-hr">
    <div class='edu-flex-container'>
        <div style="width:70%">
        <div class='edu-row'>
          <div class='edu-column logo-column'>
            <a href="https://ece.ucsd.edu/" target="_blank">
                <img src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/images/ucsd.png" style="width:100%; height:auto" alt="UCSD">
            </a>
          </div>
          <div class='edu-column' style="flex:3">
            <p class="content" style="text-align:left">
                <a href="https://ece.ucsd.edu/" target="_blank">
                  <b>University of California, San Diego</b><br>
                </a>
                PhD candidate <i>Electrical and Computer Engineering</i>
            </p>
          </div>
          <div class='edu-column'>
            <p class="content" style="text-align:right">
                Sep 2022 - Now<br>
                La Jolla, CA
              </p>
          </div>
        </div>
        <div class='edu-row'>
            <div class='edu-column logo-column'>
              <a href="https://ece.ucsd.edu/" target="_blank">
                  <img src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/images/ucsd.png" style="width:100%; height:auto" alt="UCSD">
              </a>
            </div>
            <div class='edu-column' style="flex:3">
              <p class="content" style="text-align:left">
                  <a href="https://ece.ucsd.edu/" target="_blank">
                    <b>University of California, San Diego</b><br>
                  </a>
                  (Thesis) MS in <i>Electrical and Computer Engineering</i>
              </p>
            </div>
            <div class='edu-column'>
              <p class="content" style="text-align:right">
                  Sep 2019 - Jun 2022<br>
                  La Jolla, CA
                </p>
            </div>
          </div>
          <div class='edu-row'>
            <div class='edu-column logo-column'>
              <a href="https://www.iiit.ac.in/" target="_blank">
                  <img src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/images/iiit.jpg" style="width:100%; height:auto" alt="UCSD">
              </a>
            </div>
            <div class='edu-column' style="flex:3">
              <p class="content" style="text-align:left">
                  <a href="https://www.iiit.ac.in/" target="_blank">
                    <b>International Institute of Information Technology, Hyderabad </b><br>
                  </a>
                  (Honors) B.Tech in <i> Electronics and Communication Engineering </i>
              </p>
            </div>
            <div class='edu-column'>
              <p class="content" style="text-align:right">
                Jul 2015 - May 2019<br>
                  Hyderabad, India
                </p>
            </div>
          </div>
      </div>
    </div>
      </div>
      <br>
    </div>
</section>


<section class="hero has-text-centered has-text-white has-background-grey-darker" id="exp">
    <br><br>
    <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-white">Experience</h1>
    <hr class="has-background-white proj-hr">
    <div class='edu-flex-container'>
      <div style="width:70%">
        <div class='edu-row'>
            <div class='edu-column logo-column'>
              <a href="https://ece.ucsd.edu/" target="_blank">
                  <img src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/images/ucsd.png" style="width:100%; height:auto" alt="UCSD">
              </a>
            </div>
            <div class='edu-column' style="flex:3">
              <p class="content" style="text-align:left">
                  <a href="https://ece.ucsd.edu/" target="_blank">
                    <b>University of California, San Diego</b><br>
                  </a>
                  Third year ECE PhD student working with Prof. Nuno Vasconcelos in the Jacobs School of Engineering at University of California, San Diego.
              </p>
            </div>
            <div class='edu-column'>
              <p class="content" style="text-align:right">
                Apr 2020  - Now<br>
                La Jolla, CA
                </p>
            </div>
          </div>
          <div class='edu-row'>
            <div class='edu-column logo-column'>
              <a href="https://www.intrinsic.ai/" target="_blank">
                  <img src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/images/intrinsic.jpeg" style="width:100%; height:auto" alt="UCSD">
              </a>
            </div>
            <div class='edu-column' style="flex:3">
              <p class="content" style="text-align:left">
                  <a href="https://www.intrinsic.ai/" target="_blank">
                    <b>Computer Vision Research Intern, Intrinsic (Alphabet)</b><br>
                  </a>
                    I worked on improving the efficiency of an existing pose estimation pipeline, achieving a remarkable 6.8x reduction in overall runtime. 
                    Additionally, I developed and implemented an Efficient PnP-inspired closed-form solution for multiview camera pose estimation, replacing the previous iterative algorithm. 
                    This solution effectively handled both discrete and continuous symmetries of objects, significantly enhancing the robustness and performance of the pipeline.
            </div>
            <div class='edu-column'>
              <p class="content" style="text-align:right">
                Jul 2021 - Sep 2021<br>
                  Palo Alto, CA
                </p>
            </div>
          </div>
          <div class='edu-row'>
            <div class='edu-column logo-column'>
              <a href="https://www.iiit.ac.in/" target="_blank">
                  <img src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/images/iiit.jpg" style="width:100%; height:auto" alt="IIIT">
              </a>
            </div>
            <div class='edu-column' style="flex:3">
              <p class="content" style="text-align:left">
                  <a href="https://www.iiit.ac.in/" target="_blank">
                    <b>International Institute of Information Technology, Hyderabad </b><br>
                  </a>
                  I worked on medical imaging, focusing on detecting diseases as part of my honors studies at the Center for Visual Information Technology (CVIT) under the guidance of Prof. Jayanthi Sivaswamy. 
                  My contributions included building translation-invariant scattering coefficients, which resulted in approximately 5% improvement across various datasets. 
                  Additionally, I developed a Capsule Network-based deep neural network designed to operate directly on 3D OCT volumes for classification, advancing the state of disease detection and analysis in medical imaging.
              </p>
            </div>
            <div class='edu-column'>
              <p class="content" style="text-align:right">
                Jun 2017 - May 2019<br>
                  Hyderabad, India
                </p>
            </div>
          </div>
      </div>
      </div>
      <br>
    </div>
    </div>
</section>