<div class="columns has-text-centered" id="blog-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
            <div class="image is-16by9" style="background-image: url({{project.post-image}}); background-size:contain; resize: both;"></div>
    </div>
    <a href="{{project.url | absolute_url}}" class="has-text-grey">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{project.title}}</h1>
            <div class="content has-text-grey">
                {{ project.authors strip_newlines | strip }}
                </br>
                {{ project.published strip_html | strip_newlines | strip }}
                <hr class="has-background-grey">
                <span>
                    [  &nbsp;
                    {%- unless project.paper == "" -%}
                    <a href={{project.paper}} target="_blank">Paper</a> |  &nbsp;
                    {%- endunless -%}
                    {%- unless project.sup == "" -%}
                    <a href={{project.sup}} target="_blank">Supplemental</a> | &nbsp;
                    {%- endunless -%}
                    {%- unless project.code == "" -%}
                    <a href={{project.code}} target="_blank">Code</a> |  &nbsp;
                    {%- endunless -%}
                    {%- unless project.bib == "" -%}
                    <a href={{project.bib}} target="_blank">BibTeX</a>
                    {%- endunless -%}
                    &nbsp; ]
                </span>
            </div>
        </div>
    </a>
</div>