---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body" style="align-items: initial;">
      <div class="container">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{page.title}}</h1>
        <div class="has-text-black" style="font-size: larger;">
        {{ page.authors escape | strip_html | strip_newlines | strip }}
        </div>
        <hr class="has-background-black">
        <div class="columns is-variable is-12" style="justify-content: center;">
          <div class="column is-3">
            <figure class="image is-16by9 has-shadow">
              <img src="{{page.post-image}}" alt="{{post.title}}" id="post-image">
            </figure>
          </div>
          <div class="subtitle column is-6 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">
            <p>{{ content }}</p>
          <b>Published in:</b> {{ page.published escape | strip_html | strip_newlines | strip }}
          <br><br>

          <span>
            [  &nbsp;
            {%- unless page.website == "" -%}
            <a href={{page.website}} target="_blank">Website</a> |  &nbsp;
            {%- endunless -%}
            {%- unless page.paper == "" -%}
            <a href={{page.paper}} target="_blank">Paper</a> |  &nbsp;
            {%- endunless -%}
            {%- unless page.sup == "" -%}
            <a href={{page.sup}} target="_blank">Supplemental</a> | &nbsp;
            {%- endunless -%}
            {%- unless page.code == "" -%}
            <a href={{page.code}} target="_blank">Code</a> |  &nbsp;
            {%- endunless -%}
            {%- unless page.bib == "" -%}
            <a href={{page.bib}} target="_blank">BibTeX</a>
            {%- endunless -%}
            &nbsp; ]
        </span>
      </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>